In [1]:
import pandas as pd
import numpy as np
import os
import plotly

In [6]:
# Широкий экран
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [7]:
# Data descriptions - https://www.kaggle.com/c/competitive-data-science-final-project/data
DATA_FOLDER = 'Data/'

train_data =  pd.read_csv(os.path.join(DATA_FOLDER, 'sales_train_v2.csv'))
test_data = pd.read_csv(os.path.join(DATA_FOLDER, 'test.csv'))
sample_submission = pd.read_csv(os.path.join(DATA_FOLDER, 'sample_submission.csv'))

# Additional data
item_categories = pd.read_csv(os.path.join(DATA_FOLDER, 'item_categories.csv'))
items = pd.read_csv(os.path.join(DATA_FOLDER, 'items.csv'))
shops = pd.read_csv(os.path.join(DATA_FOLDER, 'shops.csv'))

In [11]:
%%html
<style>
table {float:left}
</style>


|Field|Meaning|
|:----|:------|
|ID|An Id that represents a (Shop, Item) tuple within the test set|
|shop_id|Unique identifier of a shop|
|item_id|Unique identifier of a product|
|item_category_id|Unique identifier of item category|
|item_cnt_day|Number of products sold. You are predicting a monthly amount of this measure|
|item_price|Current price of an item|
|date|Date in format dd/mm/yyyy|
|date_block_num|A consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33|
|item_name|Name of item|
|shop_name|Name of shop|
|item_category_name|Name of item category|

In [12]:
train_data.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [13]:
test_data.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268